div{background-color: rgb(165, 195, 250)}
h1{font-family: 'Times New Roman', Times, serif;}
body{margin-left: 2pt;}
font-size: 14pt;}
form{margin-bottom: }
footer{
    margin-bottom: 0px;
    background-color: cornflowerblue;
    text-align: center;
    bottom: 0px;
    width: 100%;
}
    
    